
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold" (click)="hoursListMorrning()">בוקר</mat-button-toggle>
  <mat-button-toggle value="italic" (click)="hoursListNoon()">צהרים</mat-button-toggle>
  <mat-button-toggle value="underline" (click)="hoursListAfternoon()">ערב</mat-button-toggle>
</mat-button-toggle-group>

<section>
  <div ngFor class="example-button-row">
    <button 
  mat-raised-button 
  *ngFor="let item of listMuseum" 
  [disabled]="item.availablePlaces === 0 || item.isClosed" 
  [ngClass]="{'inactive': item.availablePlaces === 0 || item.isClosed}"
  (click)="sendStartTime(item.startTime)"
>
  {{ item.startTime }} <br>
  <ng-container *ngIf="item.availablePlaces !== 0; else soldOut">
    {{ item.availablePlaces }}
  </ng-container>
  <ng-template #soldOut>Tickets are sold out</ng-template>
</button>
  </div>
</section>
